*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: #0f0f0f; color: white; overflow-x: hidden;
}

nav{
    width: 100%;
    padding: 20px 8px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
    align-items: center;
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.4);
}

.logo{
    font-size: 28px;
    font-weight: bold;
    color: #ff3c00;
    letter-spacing: 2px;
}

nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #ff3c00;
}

.hero{
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.7) url(broly-legendary-super-saiyan-from-dragon-ball-super_4096x2304_xtrafondos.com.jpg));
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 8%;
}

.hero-content{
    max-width: 700px;
    animation: fadeup 1.2s ease;
}

.hero h1{
    font-size: 70px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero h1 span{
    color: #ff3c00;
}

.hero p{
    color: #ccc;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.btn{
    padding: 15px 35px;
    border: #ff3c00 2px solid;
    border-radius: 40px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 0 0 20px rgba(225,60,0,0,4);
}

.btn:hover{
    transform: translateY(-5px) scale(1.05);
    background-color: #ff3c00;
    color: white;
    font-size: 17px;
}

.features{
    padding: 100px 8%;
    display: grid;
    grid-template-columns: repeat(auto fit, minmax(250px, 1fr));
    gap: 30px;
}

.card{
    background: #1a1a1a;
    padding: 40px 30px;
    border-radius: 20px;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}

.card::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: #ff3c00;
    top: 0;
    left: 0;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.card h2{
    margin-bottom: 15px;
    color: #ff3c00;
}

.card p {
    color: #bbb;
    line-height: 1.6;
}


.trainers{
    padding: 100px 8%;
    text-align: center;
}

.section-title{
    font-size: 50px;
    margin-bottom: 60px;
}

.section-title span{
    color: #ff3c00;
}

.trainers-box{
    display: grid;
    grid-template-columns: repeat(auto fit, minmax(250px, 1fr));
    gap: 30px;
}

.trainer{
    background: #1b1b1b;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
}

.trainer img{
    width: 80%;
    height: 300x;
    object-fit: cover;
}

.trainer h3{
    margin: 20px 0 10px;
}

.trainer p{
    color: #ff3c00;
    margin-bottom: 20px;
}

.trainer:hover{
    transform: scale(1.02s);
}

footer{
    text-align: center;
    padding: 30px;
    background-color: #111;
    color: #888;
}

@keyframes fadeup{from {
    opacity: 0;
    transform:  translateY(0);
}}

@media (max-width:768px){
    .hero h1{
        font-family: 45px;
    } 
    nav ul{
        display: none;
    }
    .section-title{
        font-size: 35px;
    }
}